@import url('../../vars.css');

.ReactModal__Content .inner.media-modal {
  width: 500px;
  height: 500px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (--sm-down) {
    width: 100%;
    height: auto;

    & button.close {
      right: 20px;
      top: 90px;
    }
  }

  & h3 {
    margin-bottom: 1rem;
  }

  & .media-contain {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      height: auto;
      max-height: 100%;
      width: 100%;
    }
  }
  & .download-button {
    margin-top: 2rem;
    width: 100%;
  }
}
